*{
  margin: 0;
  font-family: 'Lato', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  text-underline: none;
}
.mobileMenuIcon{
  margin-right: 40px;
  height: 20px;
  float: right;
  display: none;
}
.hamburgerIcon{
  top: 30px;
  position: relative;
}

.navbarclassfixed{
  position: fixed;
  z-index: 4;
  height: 50px;
}
#navbar{
  position: fixed;
  width: 100%;
  z-index: 3;

}
.navbarclass{
  display: block;
  height: 100px;
  background-color: #323232;
  z-index: 3;
  transition: all 1.5s ease;

}
.navbarclassSmall{
  position: fixed;
  background-color: #323232;
  height: 60px;
  transition: all 1.5s ease;
  z-index: 3;
  top: -40px;
}
#navbar ul{
  display: flex;
  justify-content: center;
}
.navbarlink{
  margin: 30px 25px 20px 25px;
}
.navbarlinkSmall{
  margin: auto 20px;
}
.navbarlogo{
  margin-top: 11px;
  margin-right: 63px;
  width: 65px;
  height: 44px;
}
.logo{
  margin: 0 31px;
}

.socials{
  display: inline-flex;
  float: right;
  margin-top: 20px;
}
.socials img:hover{
  opacity: 0.4;
}
.nav-link{
  font-family: 'Lato', sans-serif;;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-link:hover{
  color:#20816d;
}
#aboutme{
  margin: 0 auto;
  background-color: #2eb398;
  padding: 150px 0;
}

.headers{
  width: 100%;
}
.infoabout{
  margin-right: 45px;
}
.headers h1{
  font-family: 'Maven Pro', sans-serif;
  font-size:2.4rem;
  color: #d7fcf5;
}
.headers h2{
  font-family: 'Maven Pro', sans-serif;
  color: #20816d;
  font-size: 1rem;
  top: -10px;
  position: relative;
}
.container-about{
  margin: 0 auto;
  max-width: 1100px;
  border-left: #20816d solid 1px;
  border-right: #20816d solid 1px;
}
.container-about p {
  color: #d7fcf5;
  font-size: 13px;
  text-align: justify;
}

.textarea, .sendButton{
  padding: 10px;
  background-color: #454545;
  overflow: visible;
  margin: 13px auto;
  border: none;
  width: 100%;
}
.sendButton{
  background-color: #2eb398;
  border: none;
  width: 22%;
  float: right;
  color: white;
  text-transform: uppercase;
}
.sendButton:hover{
  background-color: white;
  color: #2eb398;
}
.contact{
  background-color:#323232;
  color:#e0e0e0;
  overflow: hidden;
}
.active{
  color: #20816d;
}
.container-form{
  margin: auto;
  display: flex;
}

.contact-adress{
  width: 20%;
  margin: 10px;
  font-size: 13px;
  text-align: justify;
}
.allcontactdiv{
  margin: 10px auto;
  padding: 50px 0;
  width: 1024px;
  border-bottom: #2b2b2b solid 1px;
  border-top: #2b2b2b solid 1px;

}
.adress1{
  position: relative;
  top: 23%;
}
.adress1  a:hover{
  color: #2eb398;
  text-decoration: none;
}
.adress1 a{
  color:#e0e0e0 ;
}
.pin{
  margin-left: 17px;
  margin-right: 18px;
}

.phone{
  margin-left: 15px;
  margin-right: 14px;
}

.mail{
  margin-left: 15px;
  margin-right: 10px;
}

.footer{
  display: block;
  width: 100%;
  background-color: #222222;
  color: #323232;
}
.footer p {
  margin: 0 0 0 50px;
  padding: 15px 30px;
}
/*HEXAGONS*/
#hexagongrid{
  padding: 130px 0;
  z-index: -1;
}
.firstLine, .thirdLine{
  display: flex;
  justify-content: center;
}
.secondLine {
  display: flex;
  justify-content: center;
}


/*HEXAGONS*/

.triangle-down {
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-top: 48px solid #323232;
  position: absolute;
  top: 100px;
  z-index:-1
}

.photo {
  position: relative;
  width: 220px;
  height: 127.02px;
  background-size: auto 254.0341px;
  background-position: center center;
  float: left;
  margin: 44px 21px 60px 101px;
}
.hexagon {
  position: relative;
  width: 220px;
  height: 127.02px;
  margin: 40px 8px;
  background-size: auto 254.0341px;
  background-position: center;
}
.hexagon:hover{
  opacity: 0.6;
}
.photo:hover{
  opacity: 0.6;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 155.56px;
  height: 155.56px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 32.22px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 220.0000px;
  height: 127.01705922171767px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-63.5085px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-63.5085px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-63.5085px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -77.7817px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -77.7817px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 220.0000px;
  height: 127.0171px;
  z-index: 2;
  background: inherit;
}
#hexagongridMedium {
  padding: 130px 0;
  z-index: -1;
  display: none;
}
#hexagongridMobile {
  padding: 130px 0;
  z-index: -1;
}

.hidden{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1281px) {



  /*HEXAGONS  ----------HEXAGONS  */

  #hexagongrid{
    display: none;
  }
  #hexagongridMedium{
    display: block;
  }

  /*.container-form{*/
    /*margin: 0 50px;*/
  /*}*/
  .textarea {
    width: 100%;
  }
  .sendButton{
    width: 40%;
    float: right;
    margin: 0;
  }
  .allcontactdiv{
    width: 650px;
  }
  .contactForm{
    width: 70%;
    float: left;
    overflow: auto;
  }
  .contact-adress{
    width: 30%;
  }
  .adress1{
    top: 18%
  }
  .container-about{
    width: 700px;
  }
}



@media (min-width: 481px) and (max-width: 767px) {

  /*HEXAGONS  ----------HEXAGONS  */
  #hexagongrid{
    display: none;
  }
  #hexagongridMedium{
    display: none;
  }
  #hexagongridMobile{
    display: block;
  }
  .firstLine{
    justify-content: flex-start;
  }
  .secondLine{
    display: flex;
    min-width: 700px;
  }

  /*MENI -------- MENU*/
  .navbarlogo{
    display: none;
  }
  .logo{
    display: none;
  }

  #navbar ul{
    display: none;
    background-color: #323232;
    height: 250px;
  }
  .navbarlink {
    text-align: center;
    top: 60px;
    position: relative;
    margin: 20px auto;
  }
  .nav-link{
    padding:2px 2px;
    font-size: 10px;
  }
  .mobileMenuIcon{
    display: block;
  }
  .textarea {
    width: 100%;
  }
  .sendButton{
    width: 40%;
    float: right;
    margin: 0;
  }
  .allcontactdiv{
    width: 450px;
  }
  .contactForm{
    width: 70%;
    float: left;
    overflow: auto;
  }
  .contact-adress{
    width: 30%;
  }
  .adress1{
    top: 18%
  }
  .container-about{
    width: 400px;
  }
  #aboutme{
    min-width: 700px;
  }
  .contact{
    min-width: 700px;
  }
  .infoabout{
    margin: 0 30px;
  }
  .pin{
    margin-left: 1px;
    margin-right: 8px;
}

  .phone{
    margin-left: 0;
    margin-right: 4px;
  }

  .mail{
    margin-left: 0;
    margin-right: 0;
  }
  .adress1{

    top: 11%;
  }
  .contact-adress{
    font-size: 12px;
    text-align: left;
  }
  .footer{
    min-width: 700px;
  }
}

/*
  ##Screen = up to 479px
*/

@media (max-width: 480px) {



/*HEXAGONS  ----------HEXAGONS  */

  #hexagongrid{

    display: none;
  }
  #hexagongridMedium{
    display: none;
  }
  #hexagongridMobile{
    display: block;
  }
  .firstLine{
    flex-wrap: wrap;

  }
  .firstLine>.hexagon:nth-child(2n) {
     margin: 100px auto;
   }
  .secondLine>.hexagon:nth-child(2n) {
    margin: 100px auto;
  }
  .secondLine{
    display: flex;
    flex-wrap: wrap;
  }

  /*MENI -------- MENU*/
  .navbarlogo{
    display: none;
  }
  .logo{
    display: none;
  }

  #navbar ul{
    display: none;
    background-color: #323232;
    height: 250px;
  }
  .navbarlink {
    text-align: center;
    top: 60px;
    position: relative;
    margin: 20px auto;
  }
  .nav-link{
    padding:2px 2px;
    font-size: 10px;
  }
  .mobileMenuIcon{
    display: block;
  }
  .textarea {
    width: 100%;
  }
  .sendButton{
    width: 40%;
    float: right;
    margin: 0;
  }
  .contactForm{
    width: 70%;
    float: left;
    overflow: auto;
  }
  .contact-adress{
    width: 30%;
  }
  .adress1{
    top: 18%
  }
  .photo{
    margin: 44px 21px 60px 80px;

  }
  .infoabout{
    margin-right: 45px;
    margin-left: 45px;
  }
  .container-form{
    flex-wrap: wrap;
  }
  .sendButton{
    float: none;
    width: 100%;
  }
  .allcontactdiv{
    width: 300px;
  }
  .contactForm{
    width: 100%;
  }
  .contact-adress{
    width: 100%;
  }
}
@media (max-width: 325px) {
  .photo{
    margin: 44px 21px 60px 51px;
  }
}


